{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">¡Bienvenido! ¿Que tanto conoces de Chaco?</p>
            </div>
        </div>
    </div>
</header>

<main>
	
    <p>{{pregunta.enunciado}}</p>

	<br>

    <form action="/juego/respuesta/" method="POST" > {% csrf_token %}

        {% for r in respuestas %}

            <input type="radio" id="respuesta" name="{{r.respuestas}}">

            <label for="respuesta"> {{r.respuestas}} </label>

            <br>

        {% endfor %}

        <input type="submit" value="enviar">
    </form>
</main>

{% endblock contenido %}