{% load static %}

<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    <title>Consultor Chaqueño</title>
  </head>
  <body class="container">

    <header>

      <section>
        <h1 class="display-1 text-center"> Consultor Chaqueño </h1>
        <br>
        <div class="row">
          <img class="col rounded-circle" src="{% static 'img/meteorito.png'%}">
        </div>
        
      </section>

      <br>

      <section>
        <nav class="row navbar navbar-expand-lg navbar-light text-center">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="col-3 nav-item">
              <a class="nav-link active text-bold" href="{% url 'inicio' %}"><strong>Inicio</strong></a>
            </li>

            <li class="col-3 nav-item">
             <a class="nav-link active" href="{% url 'nosotros' %}"><strong>Nosotros</strong></a>
            </li>

            <li class="col-3 nav-item">
              <a class="nav-link active" href="{% url 'contacto' %}"><strong>Contacto</strong></a>
            </li>

            <li class="col-3 nav-item">
              <a class="nav-link active" href="{% url 'soporte' %}"><strong>Soporte Tecnico</strong></a>
            </li>
          </ul>
        </nav>
      </section>
      
    </header>

    <br>

    <main>
      <section class="row">
        <aside class="col-4">
          <h2>Tip de la semana</h2>
          <br>
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </aside>

        <article class="col-8">
          <h2>Bienvenidos a mi web</h2>
          <br>

          <div>
            <img class="img-fluid rounded float-start" src="{% static 'img/chaco.jpg'%}">
          </div>
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </article>
      </section>

      <br>

      <section class="row">

        <button class="display-1 text-center">JUGAR</button>
        <!--<article class="col">
          <h2>Juegos</h2>
          <br>
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
          </p>
        </article>

        <article class="col">
          <h2>Descargas</h2>
          <br>
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
          </p>
        </article>

        <article class="col">
          <h2>Soporte Tecnico</h2>
          <br>
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
          </p>
        </article>-->
      </section>
    </main>

    <br>

    <footer class="container">
      <article class="row">
        <p class="col"> (c) Todos los derechos reservados - J.P.E 2021 </p>
        <p class="col"> Diseñado por <a href="pedrojuroczko@hormail.com">mi</a> </p>
      </article>
    </footer>

    <!-- JQuery -->
    <script src="./js/jquery-3.5.0.min.js"></script>
    <!-- Pooper.js -->
    <script src="./js/popper.min.js"></script>
    <!-- Bootstrap.js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>